/exercicio copy 12.py
/exercicio copy 13.py
/exercicio copy 14.py
/exercicio copy 15.py
/exercicio copy 16.py
/exercicio copy 17.py
/exercicio copy 18.py
/exercicio copy 19.py
/exercicio copy 20.py
/exercicio copy 21.py
/exercicio copy 22.py
/exercicio copy 23.py
/exercicio copy 24.py
/exercicio copy 25.py
/exercicio copy 26.py
/exercicio copy 27.py
/exercicio copy 28.py